<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h1>注文情報</h1>
      <%= form_with(model: Oder, local: true) do oder| %>
      <h2>支払い方法</h2>

      <h2>お届け先</h2>
      <% end %>
    </div>
  </div>
</div>

