<div class="container">
<h2>ジャンル編集</h2>
<div class="form-horizontal" role="form">
  <%= form_for(@genre, url: admin_genre_path(@genre.id)) do |f| %>
    <div class="form-group">
      <div class="col-xs-7">
      # ジャンル名の入力
        <%= f.label :name, "ジャンル"%>
        <%= f.text_field :name, autofocus: true %>
        
       # 保存するボタン
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>