<%= render 'layouts/header' %>
<body>
  <h2>マイページ</h2>
  <h2>登録情報</h2>
  <%= link_to '編集', class: "btn btn-outline-secondary" %>
  <table>
    <tr>
      <td>氏名</td>

    </tr>
    <tr>
      <td>カナ</td>

    </tr>
    <tr>
      <td>郵便番号</td>

    </tr>
    <tr>
      <td>住所</td>

    </tr>
    <tr>
      <td>電話番号</td>

    </tr>
    <tr>
      <td>メールアドレス</td>
      <td></td>
    </tr>
  </table>
  <h2>配送先</h2>
  <%= link_to '一覧を見る',　class: "btn btn-outline-secondary" %>
  <h2>注文履歴</h2>
  <%= link_to '一覧を見る',　class: "btn btn-outline-secondary" %>
</body>