<div class="layer">

 <div class="layer-txt">
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
  </div>
 </div>


<h1>新着情報</h1>
<div class="container pull-left table-responsive">
 <table class="table", display: block>
    <% @items.first(5).each do |item| %>
     <thead>
      <tr>
       <%= attachment_image_tag item, :profile_image, size: "40x40", format: 'jpeg' %>
      </tr>
      <tr>
       <%= item.name %>
      </tr>
      <tr>
       ¥<%= item.price %>
      </tr>
     </thead>
   <% end %>
 </table>
</div>

<%= linl_to '全ての商品を見る', ルートパス, margin:right 50px %>