<h2>商品一覧</h1>
<div class="row">
  <% @item.each do |item| %>
    <table class="col-md-6">
      <tr>
        <td><%= attachment_image_tag sweet, :image, :fill, 150, 150, format: 'jpeg' %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
      </tr>
    </table>
  <%= end %>
</div>
